<header class="header">
    <a href="" class="logo">Księga Inw.</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="?page=home">Home</a></li>
      <li><a href="?page=computerList">Lista komputerów</a></li>
      <li><a href="?page=phoneList">Lista telefonów</a></li>
      <li><a href="?page=employeeList">Lista Pracowników</a></li>
      <li><a href="?page=admin">Panel Administracyjny</a></li>
      <li><a href="?page=logout">Wyloguj</a></li>
    </ul>
  </header>