body {
  margin: 0;
  font-family: lato;
  background-color: f2f2f2;
}

#login{
  width: 40%;
  margin: auto;
  padding-top: 20px;
}

button{
  position: relative;
  padding: 20px;
}
a {
  color: #000;
}
h1{
  font-size: 20px;
  color: #3399cc;
}
th{
  font-size: 18px;
  color: #3399cc;
}
table{
  position: relative;
}
.addComp{
  width:40%;
  position: relative;
  padding: 80px;
} 
.form-control{
  margin-top: 10px;
  margin-bottom: 10px;
}




@media 
only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { 
    border: 1px solid #ccc; 
  }

  td {
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }

  td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  #login{
    width: 90%;
    margin: auto;
    padding-top: 15px;
  }
}
